#adoptbg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  min-height: 33vh;
  min-width: 100vw;
}

#adopttitle {
  height: 10.5em;
}
#adopttitle h1 {
  color: #fcfeff;
  // margin-top: 5em;
  font-size: 4em;
  margin-top: 3.75em;
  opacity: 0.8;
}

#adoptContentPanel {
  background-color: white;
}
.adoptitem {
  background: #eff0f7;
  margin: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.adopt-page {
  height: 100%;
}

.pet-item {
  height: 20em;
}

.pet-image {
  padding: 10px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

#adoptfilter {
  background: #e1ecef;
}

#adoptfilterbgcolor {
  background: #e1e6f6d1;
}
