/* event posts */
#eventItemsContainer {
  display: flex;
  justify-content: center;
}

#eventItems {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.eventPanel {
  margin: 1em;
  padding: 1em;
  // width: 30em;

  background-color: #e4ecef;
  // outline-width: 0.005em;
  // outline-style: auto;

  /* order: <integer>; */
}
.eventDescription {
  margin: 0.2em;
  padding: 0.1em;
  background-color: white;
  outline-width: 0.002em;
  outline-style: auto;
  outline-color: #8da7ad;
}

.flexcontainerevents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#eventlocalusers {
  // position: fixed;
  // float: left;
  margin-left: 0.5em;
  background-color: #fcfeff;
  padding: 0.55em;
  border-radius: 0.5em;
  // outline-style: solid;
  // outline-width: 0.005em;
  // outline-style: auto;
  // width: 12.5em;
}
#eventlocalusers #eventlocalcontainer {
  // width: 12.5em;
  background-color: #e3ecf08c;
  max-height: 55vh;
  // max-height: 26em;
  min-height: 50vh;
  overflow-x: hidden;
}
#eventlocalusers p {
  margin: 0 0 0px;
}

#eventlocalusers #eventlocal {
  background-color: #dbf0f6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#eventlocalusers #friendrequest {
  background-color: #fdd76f;
  height: 20px;
}

#eventlocalusers .btn {
  background-color: #75b5c4;
}

// photos within pet tinders locals withing
.eventLocalsIcon {
  // float: right;
  margin: 0.06em;
}

#event_location {
  // max-width: 20em;
  // width: 20em;
}

#event_title {
  // max-width: 28em;
  // width: 28em;
}

.messagePanel #event_description {
  // max-width: 20em;
  // width: 20em;
  max-height: 15em;
  min-height: 5em;

  max-width: 100%;
  min-width: 100%;
}

#eventstitle {
  height: 10.5em;
}

#eventbg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  min-height: 100vh;
  min-width: 100vw;
}

#eventbackdrop {
  border-radius: 0.5em;
  // margin-left: 1em;
  // margin-right: 2.3em;
  // opacity: 0.95;
  display: block;
  background: white;
  left: 3%;

  // margin-top: 5em;

  // position: absolute;
  // top: 6em;
  // left: 50%;
  // transform: translateX(-50%);
}

#eventsheader {
  height: 7em;
}

#eventsheader p {
  // background: #becace69;
  background: #d7d0da5e;
  color: #3d4461;
  font-size: 4em;
  margin-top: 1.1em;
  opacity: 0.9;
  height: 1.052em;
}

// .modalz {
//   z-index: 2000;
// }

#eventuserinfo {
  background-color: white;
  // margin-top: 1em;
  margin-right: 0.5em;
  padding: 0.4em;
  border-radius: 0.5em;
}
#eventsuserinformation {
  background-color: #e1e6f6;
  margin-top: 1em;
  margin-left: 0.5em;
  padding: 0.4em;
  border-radius: 0.5em;
}

.eventpetinfocolor {
  background-color: #dbf0f6;
  margin-top: 1em;
  margin-left: 0.5em;
  padding: 0.4em;
  border-radius: 0.5em;
}

.carousel-caption {
  color: red;
  background-color: black;
  border: whitesmoke;
}

.datePanel {
  margin-top: 10px;
}

.carousel-inner .item {
  width: 100%;
  // height: 500px;
}
.carousel-inner .item img {
  min-width: 100%;
  min-height: 100%;
}
// #displayblock {
//   display: block;
// }

//tinder buttons
#petTinderButton {
  // font-size: 2.2vw;
  font-size: 1.2vw;
}
