/* event posts */
#eventItemsContainer {
  display: flex;
  justify-content: center;
}

#eventItems {
  display: flex;

  flex-direction: column;
}

.eventPanel {
  margin: 1em;
  padding: 1em;
  width: 30em;

  background-color: #e4ecef;
  // outline-width: 0.005em;
  // outline-style: auto;

  /* order: <integer>; */
}
.eventDescription {
  background-color: white;
  outline-width: 0.002em;
  outline-style: auto;
  outline-color: #8da7ad;
}

.flexcontainerevents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#eventlocalusers {
  // position: fixed;
  // float: left;
  margin-left: 1em;
  background-color: #fcfeff;
  padding: 0.55em;
  border-radius: 0.5em;
  // outline-style: solid;
  // outline-width: 0.005em;
  // outline-style: auto;
  // width: 12.5em;
}
#eventlocalusers #eventlocalcontainer {
  // width: 12.5em;
  min-height: 15em;
  max-height: 20em;
  overflow-x: hidden;
}
#eventlocalusers p {
  margin: 0 0 0px;
}

#eventlocalusers #eventlocal {
  background-color: #dbf0f6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#eventlocalusers #friendrequest {
  background-color: #fdd76f;
  height: 20px;
}

#eventlocalusers .btn {
  background-color: #75b5c4;
}

// photos within pet tinders locals withing
.eventLocalsIcon {
  // float: right;
  margin: 0.06em;
}

#event_location {
  // max-width: 20em;
  // width: 20em;
}

#event_title {
  max-width: 28em;
  width: 28em;
}

.messagePanel #event_description {
  // max-width: 20em;
  // width: 20em;
  max-height: 15em;
  min-height: 5em;

  max-width: 28em;
  min-width: 28em;
}

#eventstitle {
  height: 10.5em;
}

#eventbg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  min-height: 100vh;
  min-width: 100vw;
}

#eventbackdrop {
  border-radius: 0.5em;
  opacity: 0.95;
  background: white;

  margin-top: 5em;

  position: absolute;
  top: 6em;
  left: 50%;
  transform: translateX(-50%);
}

#eventsheader {
  height: 7em;
}

#eventsheader p {
  background: #becaceb3;
  color: #5565a0;
  // margin-top: 5em;
  font-size: 4em;
  margin-top: 1.1em;
  opacity: 0.8;
}

// .modalz {
//   z-index: 2000;
// }

#eventuserinfo {
  background-color: white;
  margin-top: 1em;
  margin-right: 0.5em;
  padding: 0.4em;
  border-radius: 0.5em;
}
#eventsuserinformation {
  background-color: #e1e6f6;
  margin-top: 1em;
  margin-left: 0.5em;
  padding: 0.4em;
  border-radius: 0.5em;
}

.eventpetinfocolor {
  background-color: #dbf0f6;
  margin-top: 1em;
  margin-left: 0.5em;
  padding: 0.4em;
  border-radius: 0.5em;
}
// #displayblock {
//   display: block;
// }
