/* event posts */
#eventItemsContainer {
  display: flex;
  justify-content: center;
}

#eventItems {
  display: flex;

  flex-direction: column;
}

.eventPanel {
  margin: 1em;
  padding: 1em;
  width: 30em;

  background-color: #eef3f5;
  outline-width: 0.005em;
  outline-style: auto;

  /* order: <integer>; */
}
.eventDescription {
  background-color: white;
  outline-width: 0.002em;
  outline-style: auto;
  outline-color: #8da7ad;
}

.flexcontainerevents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#eventlocalusers {
  // float: left;
  margin-left: 1em;
  background-color: #fcfeff;
  outline-style: solid;
  outline-width: 0.005em;
  outline-style: auto;
  width: 12.5em;
}
#eventlocalusers #eventlocalcontainer {
  width: 12.5em;
  min-height: 15em;
  max-height: 20em;
  overflow-x: hidden;
}
#eventlocalusers p {
  margin: 0 0 0px;
}

#eventlocalusers #eventlocal {
  background-color: #dbf0f6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#eventlocalusers #friendrequest {
  background-color: #fdd76f;
  height: 20px;
}

#eventlocalusers .btn {
  background-color: #75b5c4;
}

.eventLocalsIcon {
  float: right;
  margin: 0.06em;
}

#event_location {
  max-width: 20em;
  width: 20em;
}

#event_title {
  max-width: 20em;
  width: 20em;
}

.messagePanel #event_description {
  max-width: 20em;
  width: 20em;
  max-height: 15em;
  min-height: 5em;
}

#eventstitle {
  height: 10.5em;
}
#eventstitle p {
  color: #6070a9;
  // margin-top: 5em;
  font-size: 4em;
  margin-top: 3.75em;
  opacity: 0.8;
}

#eventbg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  min-height: 100vh;
  min-width: 100vw;
}
