.hr {
  margin-top: 0em;
  margin-bottom: 5em;
}
.messagePanel {
  width: 20em;
}

.navbarColor {
  /* background-color: #b2d7e0;
  opacity: 0.9; */
}

.navbar {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adoptitem {
  background-color: #f2f2f2;
  margin: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.searchui {
  margin: 1em;
  margin: 0 auto;
  width: 500px;
  height: 200px;
  align: center;
}
#home-video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.6;
  z-index: -1;
}

#home-panel {
  margin: 1em;
  margin: 0 auto;
  width: 45em;

  align: center;
  background-color: #fcfeff;
  opacity: 0.95;
}

#buttonColor {
  background-color: #81b5c1;
}

#mouseUI {
  width: 20em;
  height: 20em;
}

#eventlocalusers {
  float: left;
  margin-left: 1em;
  background-color: #fcfeff;
  outline-style: solid;
  outline-width: 0.005em;
  outline-style: auto;
}
#eventlocalusers #eventlocalcontainer {
  width: 12.5em;
  min-height: 15em;
  max-height: 20em;
}
#eventlocalusers p {
  margin: 0 0 0px;
}

#eventlocalusers #eventlocal {
  background-color: #dbf0f6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#eventlocalusers #friendrequest {
  background-color: #fdd76f;
}

#eventlocalusers .btn {
  background-color: #75b5c4;
}

.eventLocalsIcon {
  float: right;
  margin: 0.06em;
}
