.hr {
  margin-top: 0em;
  margin-bottom: 5em;
}

/* EVENTS PAGE */
#messagePanelCenter {
  display: flex;
  justify-content: center;
}

#times-date {
  margin: 0.5em;
}
.messagePanel {
  /* max-width: 20em; */
  margin: 1em;
  padding: 1em;
  background-color: #def0f5;
  outline-width: 0.005em;
  outline-style: auto;
}

.messagePanel #submit {
  background-color: #81b5c1;
}
#event_location {
  max-width: 20em;
  width: 20em;
}

#event_title {
  max-width: 20em;
  width: 20em;
}

.messagePanel #event_description {
  max-width: 20em;
  width: 20em;
  max-height: 15em;
  min-height: 5em;
}

/* event posts */
#eventItemsContainer {
  display: flex;
  justify-content: center;
}

#eventItems {
  display: flex;

  flex-direction: column;
}

.eventPanel {
  margin: 1em;
  padding: 1em;
  width: 30em;

  background-color: #eef3f5;
  outline-width: 0.005em;
  outline-style: auto;

  /* order: <integer>; */
}
.eventDescription {
  background-color: white;
  outline-width: 0.002em;
  outline-style: auto;
  outline-color: #8da7ad;
}

.navbarColor {
  /* background-color: #b2d7e0;
  opacity: 0.9; */
}

.navbar {
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adoptitem {
  background-color: #f2f2f2;
  margin: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.searchui {
  margin: 1em;
  margin: 0 auto;
  width: 500px;
  height: 200px;
  align: center;
}
#home-video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.9;
  z-index: -1;
}

#home-panel {
  margin: 1em;
  margin: 0 auto;
  width: 45em;

  align: center;
  background-color: #fcfeff;
  opacity: 0.95;
}

#buttonColor {
  background-color: #81b5c1;
}

#mouseUI {
  width: 20em;
  height: 20em;
}

#eventlocalusers {
  float: left;
  margin-left: 1em;
  background-color: #fcfeff;
  outline-style: solid;
  outline-width: 0.005em;
  outline-style: auto;
}
#eventlocalusers #eventlocalcontainer {
  width: 12.5em;
  min-height: 15em;
  max-height: 20em;
}
#eventlocalusers p {
  margin: 0 0 0px;
}

#eventlocalusers #eventlocal {
  background-color: #dbf0f6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#eventlocalusers #friendrequest {
  background-color: #fdd76f;
}

#eventlocalusers .btn {
  background-color: #75b5c4;
}

.adopt-page {
  height: 100%;
}

.pet-item {
  height: 20em;
}
.eventLocalsIcon {
  float: right;
  margin: 0.06em;
}

.home-title {
  vertical-align: middle;
  padding-top: 10px;
  margin-bottom: 20px;
}

.home-title-icon {
  font-size: 0.5em;
  vertical-align: middle;
  text-align: center;
}

a.disable {
  pointer-events: none;
  cursor: default;
}

.btn-login {
  background-color: #59b2e0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 9px 0;
  text-transform: uppercase;
  border-color: #59b2e6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53a3cd;
  border-color: #53a3cd;
}

.btn-register {
  background-color: #1cb94e;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 9px 0;
  text-transform: uppercase;
  border-color: #1cb94a;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1ca347;
  border-color: #1ca347;
}

.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

#login-form-link,
#register-form-link {
  cursor: pointer;
}

.loading-icon {
  margin: 0 auto;
}

.breed-info {
  margin: 0 7em;
}

.breed-info h2 {
  font-weight: bold;
}

.breed-info p {
  font-size: 1.2em;
  text-align: left;
}
